@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

@import url("components/containers.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");



body{
font-family:'Lora', sans serif;
font-size: 16px;
margin: 0px ;
padding: 0px;

}

div	{padding: 30px;
	margin: 0px;
	text-align: center;
}


div img {width: 150px;
  height: 150px;
   width: 150px;
    border-radius: 10px;}


h1,h2,h3 {
	font-family: 'Roboto', sans serif;
	font-weight: bold; 
}

h2{ font-size: 40px }

a {
	font-family: calibri;
	font-style: none;
	color: white;
	text-decoration: none
}
